DigitalExperience/force-app/main/default/flows/API_MTO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>MTO</name>
        <label>MTO</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>Weather.getV1Currentx2ejson</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>scrn1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>aqi</name>
            <value>
                <stringValue>no</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>d9162b56782c47c0b23204428230603</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>Enter_Your_Zip_CodeorCityName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>API MTO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>API MTO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>scr_MTO</name>
        <label>scr MTO</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>MTO</targetReference>
        </connector>
        <fields>
            <name>Enter_Your_Zip_CodeorCityName</name>
            <dataType>String</dataType>
            <fieldText>Enter Your Zip Code or City Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrn1</name>
        <label>scrn1</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>next</backButtonLabel>
        <fields>
            <name>textt</name>
            <fieldText>&lt;p&gt;c= {!MTO.200.current.tempx5fc}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_MTO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>zipcode</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!MTO.200.location.country}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
